<div class="row room-list-item rounded" (click)="onShowRoomDetails(room)">
  <div class="col-lg-3">
    <img class="card-img-top room-list-item-picture" src="{{reservation.roomMainPicture}}" alt="Card image cap">
  </div>
  <div class="col-lg-3 room-list-item-details">
    <h4>{{reservation.roomName}}</h4>
    <h5>{{reservation.roomName}}</h5>
    <h5>{{reservation.roomNumber}}</h5>
  </div>
  <div class="col-lg-4">
    {{reservation.customerName}}
    {{reservation.customerEmail}}
    {{reservation.customerDateOfBirth | date}}
  </div>
  <div class="col-lg-2 room-list-item-details">
    <h5 class="room-list-item-price">{{reservation.price | currency:'EUR'}}</h5>
    <button type="button" class="btn btn-danger room-list-item-reserve" style="right: 110px;"
            (click)="$event.stopPropagation();cancelReservation()">
      Stornieren
    </button>
    <button type="button" class="btn btn-success room-list-item-reserve"
            (click)="$event.stopPropagation();approveReservation()" style="left: 110px;">
      Bestätigen
    </button>
    <button type="button" class="btn btn-danger room-list-item-reserve"
            (click)="$event.stopPropagation();deleteReservation()">
      Löschen
    </button>
    <span class="col-lg-2"></span>
  </div>
</div>
