<div class="col-md-6">
  <h2 class="text-center">Add selectedCustomer</h2>
<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="selectedselectedCustomer.email" placeholder="Email" name="email" class="form-control" id="email" disabled="disabled">
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input [(ngModel)]="selectedselectedCustomer.firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName" disabled="disabled">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input [(ngModel)]="selectedCustomer.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName" disabled="disabled">
  </div>

  <div class="form-group">
    <label for="geburtsdatum">Geburtdatum:</label>
    <input [(ngModel)]="selectedCustomer.geburtsdatum" placeholder="Geburts - Datum" name="geburtsdatum" class="form-control" id="geburtsdatum">
  </div>


  <div class="form-group">
    <label for="firmenname">Firmenname:</label>
    <input [(ngModel)]="selectedCustomer.firmenname" placeholder="Firmenname (Optional)" name="firmenname" class="form-control" id="firmenname">
  </div>


  <div class="form-group">
    <label for="Rabatt">Rabatt:</label>
    <input [(ngModel)]="selectedCustomer.rabatt" placeholder="Rabatt" name="rabatt" class="form-control" id="rabatt">
  </div>

  <div class="form-group">
    <label for="firmenname">Notiz:</label>
    <textarea [(ngModel)]="selectedCustomer.notiz" placeholder="Notiz" name="notiz" class="form-control" id="notiz"></textarea>
  </div>

  <div class="form-group">
    <label for="Telefonnummer">Telefonnummer:</label>
    <input type="number" [(ngModel)]="selectedCustomer.telefonnummer" placeholder="Telefonnummer" name="telefonnummer" class="form-control" id="telefonnummer">
  </div>

  <div class="form-group">
    <label for="fax">Fax :</label>
    <input type="text" [(ngModel)]="selectedCustomer.fax" placeholder="Fax" name="fax" class="form-control" id="fax">
  </div>

  <div class="form-group">
    <label for="web">Web:</label>
    <input type="text" [(ngModel)]="selectedCustomer.web" placeholder="web" name="web" class="form-control" id="web">
  </div>
  <p>TODO List Reservation</p>
  <div class="form-group">
    <label for="roomName">Roomname :</label>
    <input type="text" [(ngModel)]="selectedCustomer.room.name" placeholder="Fax" name="fax" class="form-control" id="fax">
  </div>

  <button class="btn btn-success" (click)="updateCustomer(selectedCustomer)">Update</button>
</form>
</div>
