<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Zum Goldenen Löwen</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/roomlist">Zimmer</a>
      <a class="nav-item nav-link" routerLink="/contact">Kontakt</a>
      <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLink="/customerlist">Kunden</a>
      <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLink="/reservations">Reservierungen</a>

      <a class="nav-item nav-link" routerLink="/holidays">Holidays</a>

    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <form class="form-inline" #loginForm="ngForm">
        <label class="sr-only" for="login">Login</label>
        <input *ngIf="!isLoggedIn"
               [(ngModel)]="form.username"
               placeholder="max.mustermann@gmx.at"
               name="login"
               class="form-control"
               id="login"
               required>

        <label class="sr-only" for="password">Password</label>
        <input *ngIf="!isLoggedIn"
               [(ngModel)]="form.password"
               type="password"
               placeholder="passwort"
               name="password"
               class="form-control"
               id="password"
               required>

        <button *ngIf="!isLoggedIn"
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
                [attr.disabled]="loginForm.invalid ? '' : null">
          Anmelden
        </button>
        <span *ngIf="isLoggedIn" style="color:white;">{{loggedInUser}}</span>
        <button *ngIf="isLoggedIn" class="btn btn-secondary" (click)="logout()">Abmelden</button>
      </form>
    </div>
  </div>

</nav>
