<div class="col-lg-12">
  <h2 class="text-center">Customer Detail</h2>
  <form>


    <div class="form-group">
      <div class="col-lg-3 col-lg-pull-3">
        <label for="firstName">First Name:</label>
      </div>
      <div class="col-lg-3 pull-left" >
        <input [(ngModel)]="model.firstName" placeholder="First Name" name="firstName" class="form-control"
               id="firstName">
      </div>

      <div class="col-lg-3 pull-left">
        <label for="lastName">Last Name:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input [(ngModel)]="model.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 pull-left">
        <label for="email">Email address:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input type="email" [(ngModel)]="model.email" (ngModelChange)="model.email=$event" placeholder="Email"
               name="email" class="form-control" id="email">
      </div>
      <div class="col-lg-3 pull-left">

        <label for="geburtsdatum">Geburtdatum:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input [(ngModel)]="model.birtdate" placeholder="yyyy-MM-dd" name="geburtsdatum" class="form-control"
               id="geburtsdatum">
      </div>
    </div>
      <div class="form-group">
        <label >Straße / Hause Nr</label>
        <div class="col-lg-3">
          <input [(ngModel)]="model.billAddress.strasse" placeholder="Street Str" name="street" class="form-control" id="street">
        </div>
        <div class="col-lg-3">
          <input [(ngModel)]="model.billAddress.hausnr" placeholder="003" name="hausnr" class="form-control" id="hausnr">
        </div>
      </div>
      <div class="form-group">
        <label >PLZ / ORT</label>
        <div class="col-lg-6">
          <input [(ngModel)]="model.billAddress.postleitzahl" placeholder="plz" name="PLZ" class="form-control" id="plz">
        </div>
        <div class="col-lg-6">
          <input [(ngModel)]="model.billAddress.ort" placeholder="ort" name="ort" class="form-control" id="ort">
        </div>
      </div>
    <div class="form-group">
      <div class="col-lg-3 pull-left">
        <label for="firmenname">Firmenname:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input [(ngModel)]="model.firmenname" (ngModelChange)="model.firmenname=$event"
               placeholder="Firmenname (Optional)" name="firmenname" class="form-control" id="firmenname">
      </div>
      <div class="col-lg-3 pull-left">
        <label for="Rabatt">Rabatt:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input [(ngModel)]="model.rabatt" placeholder="Rabatt" name="rabatt" class="form-control" id="rabatt">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-3 pull-left">
        <label for="telefonnummer">Telefonnummer:</label>

      </div>
      <div class="col-lg-3 pull-left">
        <input type="number" [(ngModel)]="model.phone" (ngModelChange)="model.phone=$event" placeholder="Telefonnummer"
               name="telefonnummer" class="form-control" id="telefonnummer">
      </div>
      <div class="col-lg-3 pull-left">
        <label for="fax">Fax :</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input type="text" [(ngModel)]="model.fax" placeholder="Fax" name="fax" class="form-control" id="fax"
               (ngModelChange)="change($event)">
      </div>

    </div>
    <div class="form-group">
      <div class="col-lg-3 pull-left">
        <label for="website">Website:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <input type="text" [(ngModel)]="model.webadresse" placeholder="website" name="website" class="form-control"
               id="website">
      </div>
      <div class="col-lg-3 pull-left">
        <label for="notiz">Notiz:</label>
      </div>
      <div class="col-lg-3 pull-left">
        <textarea [(ngModel)]="model.notiz" placeholder="Notiz" name="notiz" class="form-control" id="notiz"></textarea>
      </div>
    </div>


    <div class="form-group m-lg4">
      <button class="btn btn-success" (click)="show()" *ngIf="!showReservationBlock">More Details</button>
    </div>

    <div id="reservation" *ngIf="showReservationBlock">
      <h2 class="text-center">List Reservation</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Beginndate</th>
          <th>EndDate</th>
          <th>status</th>
          <th>roomName</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reservation of reservations">
          <td class="hidden">{{reservation.id}}</td>
          <td>{{reservation.fromDate}}</td>
          <td>{{reservation.toDate}}</td>
          <td>{{reservation.status}}</td>
          <td>{{reservation.roomName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-success" (click)="updateCustomer(model)">Update</button>
  </form>
</div>
